/* 
  VARIABLES
  Naming: prefix + scope + propertyName + extraInfo (--cai-fontFamily-heading)
  */
:root {
	/*  All Colors:  It is necessary to define a specific palette of colors, with a limited number of elements   */
	--black: black;
	--white: white;
	--red: red;
	--darkred: darkred;
	--lightred: indianred;
	--gray: gray;
	--darkgray: #444;
	--lightgray: #cacaca;

	/* All Font Sizes  */
	--cai-fontSize-xs: 8px;
	--cai-fontSize-s: 12px;
	--cai-fontSize-m: 16px;
	--cai-fontSize-l: 24px;
	--cai-fontSize-xl: 32px;
	--cai-fontSize-xxl: 36px;
	--cai-fontSize-xxxl: 48px;

	/* All Spaces  */
	--cai-space-xs: 4px;
	--cai-space-s: 12px;
	--cai-space-m: 16px;
	--cai-space-l: 24px;
	--cai-space-xl: 32px;
	--cai-space-xxl: 36px;
	--cai-space-xxxl: 42px;

	/* All font families  */
	--cai-fontFamily-primary: "Fire Code", sans-serif;
	--cai-fontFamily-secondary: "Fire Code", sans-serif;

	/* All others */
	--cai-borderRadius: 0;

	/* FUNCTIONAL PURPOSE */

	/* Functional colors */
	--cai-color-info: lightblue;
	--cai-color-info-dark: blue;
	--cai-color-success: lightgreen;
	--cai-color-success-dark: darkgreen;
	--cai-color-warning: orange;
	--cai-color-warning-dark: brown;

	--cai-color-error: var(--red);
	--cai-color-error-dark: var(--darkred);

	--cai-color-disabled: var(--lightgray);
	--cai-color-disabled-dark: var(--gray);

	--cai-color-primary: #8a2be2;
	--cai-color-primaryDark: #4f1d7e;
	--cai-color-primaryLight: #a856f5;

	--cai-color-secondary: #fefd00;
	--cai-color-secondaryDark: #c2c200;
	--cai-color-secondaryLight: #fbfb60;

	--cai-color-white: var(--white);
	--cai-color-black: var(--black);

	/* Base */
	--cai-backgroundColor: var(--cai-color-white);
	--cai-textColor: var(--cai-color-primaryDark);
	--cai-fontFamily-heading: var(--cai-fontFamily-primary);
	--cai-fontFamily-body: var(--cai-fontFamily-secondary);
	--cai-fontSize: var(--cai-fontSize-m);
	--cai-outline-focus: 2px solid var(--cai-color-warning);
}
