.cai-category {
	--category-title-color: black;
	margin-bottom: var(--cai-space-l);
	color: var(--category-title-color);
}

.cai-category .cai-category-header {
	padding: 20px;
}
.cai-category .cai-category-header h2 {
	margin-bottom: 0;
}

.cai-category--config,
.cai-category--config * {
	--category-title-color: orange;
	--card-title-color: white;
	--card-bg-color: orange;
}
.cai-category--timeAndSpace,
.cai-category--timeAndSpace * {
	--category-title-color: indianred;
	--card-title-color: white;
	--card-bg-color: indianred;
}
.cai-category--hardware,
.cai-category--hardware * {
	--category-title-color: green;
	--card-title-color: white;
	--card-bg-color: green;
}
.cai-category--connection,
.cai-category--connection * {
	--category-title-color: darkblue;
	--card-title-color: white;
	--card-bg-color: darkblue;
}

.cai-category .cai-card {
	margin-bottom: var(--cai-space-m);
}
